<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<properties>
			<property name="SSH_USER_NAME" value="guerriero"/>
			<property name="SSH_HOST" value=specclient1.dei.polimi.it/>
			<property name="SSH_PASSWORD" value="mahalkita1"/>
			<property name="OPTIMIZATION_INPUT_FOLDER" value="/home/guerriero/molinari/k10/second/data/IaaS_1/"/>
			<property name="OPTIMIZATION_OUTPUT_FILE" value="/home/guerriero/molinari/k10/second/data/IaaS_1/rawGlobal/dati.txt"/>
			<property name="OPTIMIZATION_LAUNCHER" value="/home/guerriero/molinari/k10/run_Short.sh 1"/>			
</properties>