<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<properties>
			<property name="pathToPCMResourceEnvironment" value="/home/mik/workspace/recedingHorizonScaling4Cloud/resource/palladio_model/resource_environment" />
			<property name="pathToPCMAllocation" value="/home/mik/workspace/recedingHorizonScaling4Cloud/resource/palladio_model/allocation" />
			<property name="pathToSPCMystem" value="/home/mik/workspace/recedingHorizonScaling4Cloud/resource/palladio_model/system" />
			<property name="pathToS4CResourceModelExtension" value="/home/mik/workspace/recedingHorizonScaling4Cloud/resource/SPACE4Clouds_output/EXAMPLE/resource_model_extension.xml" />
			<property name="pathToLineResult" value="/home/mik/workspace/recedingHorizonScaling4Cloud/resource/LINE/EXAMPLE/lineResult.xml" />
			<property name="speedNorm" value="1200" />
			<property name="SSH_USER_NAME" value="guerriero"/>
			<property name="SSH_HOST" value="specclient1.dei.polimi.it"/>
			<property name="SSH_PASSWORD" value="mahalkita1"/>
			<property name="RUN_WORKING_DIRECTORY" value="/home/guerriero/molinari/k10"/>
			<property name="INPUT_FOLDER" value="/second/data/IaaS_1/"/>
			<property name="OUTPUT_FILE" value="/second/data/IaaS_1/rawGlobal/dati.txt"/>
			<property name="DEFAULT_BASH" value="runShort.sh 1"/>
			
</properties>