<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<properties>
	<property name="OWN_IP" value="127.0.0.1" />
	<property name="LISTENING_PORT" value="8179" />
	<property name="PATH_TO_DESIGN_TIME_MODEL" value="/home/micheleguerriero/workspace/recedingHorizonScaling4Cloud/resources/S4COpsConfigTest.xml" />
	<property name="SSH_USER_NAME" value="guerriero" />
	<property name="SSH_HOST" value="specclient1.dei.polimi.it" />
	<property name="SSH_PASSWORD" value="mahalkita1" />
	<property name="OPTIMIZATION_INPUT_FOLDER" value="/home/guerriero/molinari/k10/second/data/IaaS_1" />
	<property name="OPTIMIZATION_OUTPUT_FILE" value="/home/guerriero/molinari/k10/second/data/IaaS_1/rawGlobal/dati.txt" />
	<property name="OPTIMIZATION_LAUNCHER" value="/home/guerriero/molinari/k10/run_Short.sh 1" />
	<property name="CLOUDML_WEBSOCKET_IP" value="52.19.136.230" />
	<property name="CLOUDML_WEBSOCKET_PORT" value="9000" />
	<property name="MONITORING_PLATFORM_IP" value="52.19.136.230" />
	<property name="MONITORING_PLATFORM_PORT" value="8170" />
	<property name="DEFAULT_DEMAND" value="5" />
</properties>